body, html {
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  background: radial-gradient(circle,rgba(0, 54, 181, 1) 0%, rgba(0, 10, 33, 1) 100%);
}

#style-dd {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: 1.2em;
  z-index: 1;
  margin: 20px auto;
  padding: 7px;
  text-align: center;
  background: #ffffff63;
  backdrop-filter: blur(5px);
  border: #ffffff00 10px solid;
  border-radius: 10px;
}

#logo-img {
  position: absolute;
  z-index: 1;
  width: 70vw;
  max-width: 300px;
  left: 0;
  right: 0;
  margin: 20px auto;
  background: #ffffff9c;
  padding: 10px 17px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

#gh-link {
  width: 40px;
  height: 40px;
  background-color: #ffffffc9;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px 20px;
  z-index: 1;
  text-align: center;
  border: #000000 2px solid;
}

#gh-link > img {
  width: 80%;
  height: 80%;
  margin: 10%;
}

#style-editor {
  display: inline-grid;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 4;
  border: 20px solid #ffffff00;
  border-radius: 7px;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  background-color: #ffffff77;
  backdrop-filter: blur(11px);
}

#code-editor {
  border: none;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: monospace;
  font-size: 1em;
  background-color: #ffffff4f;
}

#validate-style-bt {
  background: #3a7e39;
  color: white;
  font-size: 1.2em;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  padding: 5px 0;
}

.error-editor {
  border-color: #fd00009f!important;
}

.hidden {
  visibility: hidden;
}